<% if (title == "Home"){ %>
<div class="container text-center p-3">
	<h1 class="p-3">Welcome to my portfolio!</h1>
	<p class="p-4">My mission is to create custom websites with care, thoughtfulness and empathy</p>
	<a class="btn btn-dark" href="/about" role="button">More about me</a>
</div><% }